.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 380px;

  h2 {
    margin: 10px 0;
  }

  @media screen and (max-width: 960px) {
    width: 330px;
  }

  @media screen and (max-width: 380px) {
    width: 310px;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }
}
