.paymentFormContainer {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.formContainer {
  height: 100px;
  @media screen and (min-width: 600px) {
    min-width: 500px;
  }
}

.testCard {
  margin-top: 10px;
  font-size: 14px;
}
